.main {
  padding-top: 100px;
}

span i {
  color: #c50c0c;
}

.hero h1 {
  font-size: 2em;
  font-weight: 700;
}

.hero p {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 2em 0;
}

.hero p::before {
  content: "";
  display: block;
  width: 100%;
  border: 2px solid #FFDB37;
  margin: 1em auto;
}

tbody tr td img {
  width: 140px;
  height: 70px;
  border-radius: 5px;
}
