.navBar {
	width: 120rem;
	margin: 0 auto;
	padding-top: 1.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.navBar__logo {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 700;
	background-image: linear-gradient(to right, #FFDB37, #e4bd10);
	background-clip: text;
	color: transparent;
}


.navBar__list {
	list-style: none;
}

.navBar__item {
	float: left;
}

.navBar__item:not(:last-child) {
	margin-right: 1.5rem;
}


.navBar__link:link,
.navBar__link:visited {
	text-decoration: none;
	display: inline-block;
	color: inherit;
	transition: all .3s;
}

.navBar__link:hover {
	transform: scale(1.3);
}

.navBar__link:active,
.navBar__link.active,
.navBar__link:focus {
	outline: none;
	color: #FFDB37;
	transform: scale(1);
}
