#p-logo {
    width: 180px;
    color: #FFDB37;
}

#p-logo img {
    border-radius: 50px;
}

.logo a {
    text-decoration: none;
}

.nav {
    float: right;
    margin: 0;
}

.nav-link {
    font-size: 1.25em;
    line-height: 44px;
}

.nav-list {
    display: block;
    z-index: 500;
}

.nav-list .list-item {
    display: inline;
    padding: 0 10px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.nav-open-menu {
    display: none;
    width: 40px;
    height: 40px;
    background: url("./img/menu-icon.svg");
}

.nav-close-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url("./img/close-icon.svg");
    background-repeat: no-repeat;
}

.active a {
    color: #FFDB37;
}

@media only screen and (max-width: 768px) {
.nav-list {
    display: none;
    position: fixed;
    padding: 40px 20px 20px;
    background: #1d4235;
    right: 0px;
    top: -15px;
    width: 40%;
    max-width: 300px;
    height: 90vh;
    overflow: hidden;
  }

  .nav-list .list-item {
    text-align: center;
    width: 100%;
    padding-top: 18px;
    display: block;
  }

  .nav-link {
    color: #fff;
    font-size: 30px;
    font-weight: 600px;
    padding: 5px;
  }

  .nav-close-menu {
    display: block;
  }
}