.footer {
    max-width: 1005px;
    margin: 0 auto;
    text-align: center;
}


.footer span {
    color: #c01e09;
}

.link {
    text-decoration: none;
    color: #FFF;
}

.link:hover {
    color: #FFDB37;
}


@media only screen and (max-width: 768px) {
.footer {
    max-width: 1005px;
    margin: 0 auto;
    text-align: center;
  }
}